services:
  - type: web
    name: pet-grooming-api
    env: node
    buildCommand: npm install
    startCommand: node index.js
    rootDir: server
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001

